@import '../../variables';

.chart {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 45%;
  margin: 50px 0 20px 0;
  background: $white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.10);
  &Main {
    display: flex;
    height: 80%;
    width: 100%;
    &Container {
      display: flex;
      flex-direction: column;
      width: 17%;
      height: 95%;
      align-items: center;
      justify-content: space-around;
      color: $darkBlue;
      font-family: $Roboto;
      font-size: .8rem;
      font-weight: 500;
      cursor: context-menu;
      &Rain {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        & div {
          height: 50px;
          width: 100%;
        }
        &Img1 {
          background: url('../../assets/img/smallRain.png') no-repeat center;
          background-size: 20px;
        }
        &Img2 {
          background: url('../../assets/img/middleRain.png') no-repeat center;
          background-size: 35px;
        }
        &Img3 {
          background: url('../../assets/img/bigRain.png') no-repeat center;
          background-size: 35px;
        }
      }
    }
    &Chart {
      position: relative;
      display: flex;
      margin-top: 5%;
      width: 80%;
      height: 90%;
    }
  }
  &Header {
    display: flex;
    flex-direction: row;
    height: 17%;
    width: 100%;
    font-family: $Roboto;
    color: $darkBlue;
    align-items: center;
    justify-content: end;
    &Text {
      display: flex;
      width: 40%;
      font-weight: 600;
      font-size: 1.5rem;
      margin-left: 1.2rem;
      cursor: context-menu;
    }
    &RainChance {
      width: 60%;
      display: flex;
      flex-direction: row;
      margin: 5px 1.2rem 0 0;
      justify-content: end;
      cursor: context-menu;
      &Text {
        display: flex;
        align-items: center;
        margin-right: 0.8rem;
        font-size: .8rem;
        font-weight: 500;
      }
      &Percentage {
        font-size: 1.3rem;
        display: flex;
        background: $darkBlue;
        color: $white;
        font-weight: 500;
        padding: 3.5px 12px;
        border-radius: 35px;
      }
    }
  }
}