@import '../../variables';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-family: $Roboto;
  color: $white;
  padding: 10px 30px;
  width: 39%;
  border-radius: 35px;
  cursor: pointer;
}